@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   font-family: sans-serif;
   height: 100vh;
   width: 100%;
   background-color: #121213;
   display: grid;
   place-items: center;
}
header{
    width: 85%;
    height: 95%;
    /* border: 1px solid #fff; */
    display: flex;
    background: #111727;
    display: flex;
    flex-wrap: wrap;
}
.menu_side ,.song_side
{
width: 25%; 
height: 90%;
color: #fff;
/* border: 1px solid #fff; */
}
.song_side{
    background:#0b1320;
    width: 75%;
    box-shadow: 5px 0px 2px #090f1f;
}
.master_play{
    width: 100%;
    height: 10%;
    /* border: 1px solid #fff; */
    box-shadow: 0px 3px 8px #090f1f;
}

.menu_side h1{
    font-size: 20px;
    margin: 20px 0px 0px 20px;
    font-weight: 500;
}
.playlist{
    margin: 20px 0px 0px 20px;

}
.playlist h4{
    font-size: 14px;
    font-weight: 400;
    padding-bottom:10px ;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items:center ;
    transition: .3s linear;
}
.playlist h4:hover{
color: #fff;
}
.playlist h4 span{
   position: relative;
   margin-right:35px ;
 }
 .playlist h4 span::before{
     position: absolute;
     width: 4px;
     height: 4px;
     border: 2px solid #4c5262;
     border-radius: 50%;
     top: -5px;
     transition: .3s linear;
     content: '';
 }
 .playlist h4:hover span::before {
    border: 2px solid #fff;
}
.playlist h4 .bi {
   display: none;
}
.playlist  .active {
   color: #36e2ec;

 }
 .playlist .active span {
   display: none;
 }
 .playlist .active .bi  {
    display: flex;
    margin-right: 20px;
  }
.menu_song{
    width: 100%;
    height: 320px;
    margin-top: 20px;
    overflow: auto;

}
.menu_song::-webkit-scrollbar{
   display: none;
}
li{
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background .3s linear;
    height: 40px;
    
}
.menu_side .menu_song li:hover{
    background: rgb(105, 105, 105,.2);
}
span{
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}
img{
    width: 32px;
    height: 32px;
    margin-left: 25px;
}
li h5{
    font-size: 11px;
    margin-left: 15px;
   width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.subtitle{
    color: #4c5262;
    font-size: 9px;
}
.master_play{
    display: flex;
    align-items: center;
    padding: 0px 20px;

}
.wave{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;

}
.wave1{
    width: 3px;
    height: 10px;
    background: #36e2e6;
   margin-left: 3px;
    border-radius:10px 10px 0px 0px ;
   /* animation: wave .5s linear infinite;*/
}
.wave1:nth-child(2){
    height: 13px;
    margin-right: 2px;
    animation-delay: .4s;
}
.wave1:nth-child(3){
margin-left: 0px;
    height: 8px;
    animation-delay: .8s;
}

/*javascript classes*/
.active1 .wave1{
    animation: wave .5s linear infinite;
    }

.active1 .wave1:nth-child(2){
        animation-delay: .4s;
    }
.active1  .wave1:nth-child(3){
            animation-delay: .8s;
    }



@keyframes wave{
0%{
    height: 10px;

}
50%{
    height: 10px;
}
100%{
    height: 15px;
}
}