@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   font-family: sans-serif;
   height: 100vh;
   width: 100%;
   background-color: #121213;
   display: grid;
   place-items: center;
}
header{
    width: 85%;
    height: 95%;
    /* border: 1px solid #fff; */
    display: flex;
    background: #111727;
    display: flex;
    flex-wrap: wrap;
}
.menu_side ,.song_side
{
width: 25%; 
height: 90%;
color: #fff;
/* border: 1px solid #fff; */
}
.song_side{
    background:#0b1320;
    width: 75%;
    box-shadow: 5px 0px 2px #090f1f;
}
.master_play{
    width: 100%;
    height: 10%;
    /* border: 1px solid #fff; */
    box-shadow: 0px 3px 8px #090f1f;
}

.menu_side h1{
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;
}
.playlist{
    margin: 40px 0px 0px 20px;

}
.playlist h4{
    font-size: 14px;
    font-weight: 400;
    padding-bottom:10px ;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items:center ;
    transition: .3s linear;
}
.playlist h4:hover{
color: #fff;
}
.playlist h4 span{
   position: relative;
   margin-right:35px ;
 }
 .playlist h4 span::before{
     position: absolute;
     width: 4px;
     height: 4px;
     border: 2px solid #4c5262;
     border-radius: 50%;
     top: -5px;
     transition: .3s linear;
     content: '';
 }
 .playlist h4:hover span::before {
    border: 2px solid #fff;
}
.playlist h4 .bi {
   display: none;
}
.playlist  .active {
   color: #36e2ec;

 }
 .playlist .active span {
   display: none;
 }
 .playlist .active .bi  {
    display: flex;
    margin-right: 20px;
  }
